*{
  margin: 0;
  box-sizing: border-box;
}
.header{
  width: 1366px;
  height: 50px;
  background: blue;
}

.header button{
  color: red;
  background: green;
}
.content{
  display: flex;
}
.subcontent{
  width: 500px;
  height: 500px;
  border: 2px solid;
  margin-right: 512px;
  background: hotpink;
}
.subcontent2{
  width: 500px;
  height: 500px;
  border: 2px solid;
  background: hotpink;
}

.footer{
  width: 1366px;
  height: 50px;
  text-align: center;
  background: blue;
}